/**
 * 定义keyframes
 */

@keyframes fadeOut {
	@include frames-fade(1, 0);
}

@keyframes fadeIn {
	@include frames-fade(0, 1);
}

@keyframes rotate {
	@include frames-rotate(0deg, 360deg);
}

@keyframes spreadIn {
	@include frames-scale(.9, 1);
	@include frames-fade(0, 1);
}

@keyframes spreadOut {
	@include frames-scale(1, 1.2);
	@include frames-fade(1, 0);
}

@keyframes rotate {
	@include frames-rotate(0deg, 360deg);
}