/**
 * 混合
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin close() {
	cursor: pointer;

	&:hover {
		color: lighten($color-dark, 10%);
	}
}