/**
 * panel面板
 */

.panel {
	min-width: 300px;
	// border: $border;
	border-radius: 6px;
	background: $color-default;
	overflow: hidden;
	
	// 标题
	.panel-heading {
		padding: 8px 6px;
		color: #fff;
		background-color: $color-primary;
		cursor: move;
		@extend .clearfix;
		.close {
			float: right;
		}
	}
	// 主体
	.panel-body {
		padding: 10px;
	}
	// 底部
	.panel-footing {
		padding: 6px;
		text-align: right;
	}
	
	.panel-icon,
	.panel-msg {
		display: inline-block;
		vertical-align: middle;
	}

	.panel-icon {
		margin: 4px;
		@extend .icon;
		font-size: 42px;
	}
	.panel-msg {
	}
}