/**
 * panel面板
 */

.panel {
	min-width: 300px;
	// border: $border;
	border-radius: 6px;
	background: $bg-panel;
	overflow: hidden;
	
	// 标题
	.panel-heading {
		padding: 8px 6px;
		color: #fff;
		background-color: #337ab7;
		cursor: move;
		@extend .clearfix;
		.close {
			float: right;
		}
	}
	// 主体
	.panel-body {
		padding: 10px;
	}
	// 底部
	.panel-footing {
		padding: 6px;
		text-align: right;
	}
}