/**
 * 定义共用变量
 */

$border: 1px solid #ccc;
$border-transparent: 1px solid transparent;


$color-default: #fff;
$color-primary: #337ab7;
$color-danger: #c9302c;
$color-success: #5cb85c;
$color-warn: #ec971f;
$color-info: #5bc0de;


$color-dark: #000;
